<!DOCTYPE html>
<html>
<head>
    <title>My Personal Blog</title>
    <!-- Add your CSS links here -->
</head>
<body>
    {{{body}}}
    <!-- {{{body}}} is where your page-specific content will be injected -->
</body>
</html>
